:root {
  font-size: 60%;

  --color-background: #F0F0F7;
  --color-primary-lighter: #9871C2;
  --color-primary-light: #916BB8;
  --color-primary: #6035A1;
  --color-primary-dark: #441A71;
  --color-primary-darker: #351080;
  --color-secundary: #04D383;
  --color-secundary-dark: #04BF7A;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #D4C2FF;
  --color-text-title: #10042B;
  --color-text-complement: #9C98A6;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh; /* 100% of visible screen */
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins; /*rem is used on responsible apps (1rem = 9.6px)*/
  color: var(--color-text-base);
}

.container {
  width: 90vw; /*90% of viewport width*/
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%; /* 1 rem will be = 10px */
  }
}